<section id="banner">
	<div class="container-fluid">
		<div class="banner__content">
			<h1 data-aos="zoom-in-up">NƠI TÌNH YÊU CÙNG CÀ PHÊ BẮT ĐẦU</h1>
			<p data-aos="zoom-in-up" data-aos-delay="500">Tình từ đâu mà đến, sâu đậm tự bao giờ...</p>
			<a href="#menu"> <button class="btn-default" data-aos="zoom-in-up" data-aos-delay="1000">KHÁM PHÁ</button>
			</a>
		</div>
	</div>
</section>
<div id="userId" style="display: none">{{userId}}</div>
<section id="promotion">
	<div class="container">
		<h1 class="title-default">Khuyến mãi</h1>
		<div class="slider-prev"></div>
		<div class="slider-next"></div>
		<div class="promotion-slider">
			{{#each vouchers}}
			<div class="image-box">
				<h3>{{this.title}}</h3>
				<span>{{this.content}}</span>
			</div>
			{{/each}}
		</div>
	</div>
</section>
<section id="menu">
	<div class="container-fluid position-relative">
		<div class="row">
			<div class="col-12 col-xl-3 p-0">
				<nav class="menu-nav">
					<ul>
						{{#each categories}}
						<li><a href="#{{this.slug}}">{{this.name}}</a></li>
						{{/each}}
					</ul>
				</nav>
			</div>
			<div class="row col-12 col-xl-6 p-0 menu-list-wrapper">
				<div class="menu-list">
					<div class="menu-list__search">
						<input type="text" placeholder="Tìm món" />
						<img src="/images/icon-search.png" alt="search" />
					</div>
					<div class="menu-list__group">
						{{#each categories}}
						<div class="menu-list__group__items" id="{{this.slug}}">
							<h3>{{this.name}}</h3>
							<ul>
								{{#each products}}
								<li>
									<div class="row">
										<div class="col-6  col-md-2">
											<div class="item-logo">
												<img src="{{this.image}}" alt="{{this.name}}" />
											</div>
										</div>
										<div class="col-6 col-md-6">
											<div class="item-description">
												<h3>
													{{this.name}}
												</h3>
												<h4>
													{{this.description}}
												</h4>
											</div>
										</div>
										<div class="col-6 col-md-2">
											<div class="item-price">
												{{numberWithCommas this.price}}đ
											</div>
										</div>
										<div class="col-6 col-md-2">
											<div class="item-add">
												<button class="btn-default btn-outline btn-add" data-product-id="{{this._id}}">Thêm</button>
											</div>
										</div>
									</div>
								</li>
								{{/each}}
							</ul>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
			<div class="row col-12 col-xl-3 p-0 total-order-wrapper">
				<div class="total-order">
					<div class="menu-book">
						<span>Số lượng món: <b id="total-products-quantity"></b> phần</span>
						<span>Tổng cộng: <b id="total-products-price"></b></span>
						<button class="btn-default" id="btnOrderNow" data-toggle="modal" data-target="#cartModal"> 
							Đặt ngay
						</button>
					</div>
				</div>
			</div>

		</div>
	</div>
	</div>
	</div>
</section>
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="about__content">
					<h1 class="title-default">
						Về FourNations Coffee
					</h1>
					<p>
						Em à, giờ này có lẽ em đã chìm sâu vào giấc ngủ từ lâu lắm rồi phải không? Còn anh vẫn đang ngồi trước máy
						tính để viết nên dòng tâm sự này. Em có biết rằng anh nhớ em rất nhiều không, có lẽ bóng hình em đã in sâu
						trong trái tim anh mất rồi. Một hình
						bóng đã làm con tim anh trở nên xao xuyến, bồi hồi. Một người mà anh muốn cùng bước đi bên cạnh anh đến suốt
						cuộc đời, người mà anh muốn được sẻ chia những buồn vui trong cuộc sống, bên cạnh anh những lúc khó khăn.
					</p>
					<p>
						Anh không thể biết được em đang suy nghĩ điều gì, đang lưỡng lự hay đã chọn lấy một quyết định cho riêng
						mình, hay là đang rất vui, chẳng có suy nghĩ gì cả. Cả ngày hôm nay anh nhớ em nhiều lắm, em có nghĩ đến anh
						một phút nào không, anh đã cố gắng uống
						cho thật say để ngủ nhưng sao lúc giật mình dậy anh lại không thể nào không nghĩ đến em. Anh phải làm sao
						đây, làm thế nào mới là đúng đây em, anh có nên tiến đến với em không, nhớ em mong em, cả ngày chỉ nhìn cái
						điện
						thoại nhưng mãi không thấy được gì cả. Anh là gì với em, có chút ý nghĩa nào với em không.
					</p>
					<a href="./about"><button class="btn-default">XEM THÊM</button></a>
				</div>
			</div>
			<div class="col-md-5">
				<img src="/images/about.png" alt="about" />
			</div>
		</div>
</section>
<section id="images">
	<div class="container">
		<h1 class="title-default">Hình ảnh</h1>
		<div class="images-slider">
			<div class="image-box">
				<img src="/images/cafe-image-1.jpg" alt="img-1" />
			</div>
			<div class="image-box">
				<img src="/images/cafe-image-2.jpg" alt="img-2" />
			</div>
			<div class="image-box">
				<img src="/images/cafe-image-3.jpg" alt="img-3" />
			</div>
			<div class="image-box">
				<img src="/images/cafe-image-4.jpg" alt="img-4" />
			</div>
		</div>
	</div>
</section>