<section id="payment">
  <div class="container border p-5">
    <div class="product-list">
      <h3>Sản phẩm</h3>


      <table class="table">
        <thead>
          <tr>
            <th scope="col">Tên món</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Thành tiền</th>

          </tr>
        </thead>
        <tbody>
           {{!-- {{cart.map(product => {
            return (
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.img}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.price * product.quantity}}</td>
                </tr>
            )
           }) }} --}}
          <tr>
            <td>Tra sua</td>
            <td><img width="60px" src="https://th.bing.com/th/id/R.622b2c014604059b7400f70015b14dab?rik=qCSLowXdFCobMA&riu=http%3a%2f%2fgongcha.com.vn%2fwp-content%2fuploads%2f2018%2f10%2fHinh-Web-OKINAWA-TR%c3%80-S%e1%bb%aeA.png&ehk=9VchqGPxMfW7nx8OMlT2VD2YONBvW4QDcu8tUMDi%2bek%3d&risl=&pid=ImgRaw&r=0" alt=""/></td>
            <td>29.000</td>
            <td>
                <button class="btn btn-light" onclick="changeQuantity(-1)">-</button>
                2
                <button class="btn btn-light" onclick="changeQuantity(1)">+</button>
                </td>
            <td>58.000</td>
          </tr>
        
        </tbody>
      </table>
    </div>
    <div class="voucher mt-4">
      <h3>Voucher</h3>
      <div class="form-group row">
        <input
          class="form-control col-sm-9"
          placeholder="Nhập voucher để áp dụng"
        />
        <button class="btn-default btn-outline col-sm-3 ml-0">Áp dụng voucher</button></div>

    </div>
    <div class="deliver-info mt-4">
      <h3>Thông tin giao hàng</h3>
      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">Tên</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="name" />
        </div>
      </div>
      <div class="form-group row">
        <label for="phone" class="col-sm-3 col-form-label">Số điện thoại</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="phone" />
        </div>
      </div>
      <div class="form-group row">
        <label for="address" class="col-sm-3 col-form-label">Địa chỉ</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="address" />
        </div>
      </div>
      <div class="form-group row">
        <label for="paymentMethod" class="col-sm-3 col-form-label">Phương thức
          thanh toán</label>
        <div class="col-sm-9">
          <select class="form-control" id="paymentMethod">
            <option>Tiền mặt</option>
            <option>Tài khoản</option>

          </select>
        </div>
      </div>
     
      </div>
      <div class="checkout mt-4">
        <div class="row">
            <span class="font-weight-bold col-sm-6" style="font-size: 24px">Tổng tiền: 121.000</span>
            <div class="control-btn col-sm-6 d-flex justify-content-end">           
                 <button class="btn-default btn-outline m-3">Hủy</button>
                <button class="btn-default">Thanh toán</button>
            </div>

        </div>
      </div>
    </div>

  </div>
</section>