<section id="payment" class="m-5">
  <div class="container border p-5 ">
    <div class="product-list">
      <h3>Sản phẩm</h3>


      <table class="table">
        <thead>
          <tr>
            <th scope="col">Tên món</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Thành tiền</th>

          </tr>
        </thead>
        <tbody>
           {{!-- {{cart.map(product => {
            return (
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.img}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.price * product.quantity}}</td>
                </tr>
            )
           }) }} --}}

           {{#each mappedCart}}
                  <tr id="keyOrder" key={{this._id}}>
                    <td>{{this.name}}</td>
                    <td>
                      <img src={{this.image}} width="60px" alt={{this.name}} />
                    </td>
                    <td>{{this.price}}</td>
                    <td> 
                        <button class="btn btn-light" onclick="changeQuantity(-1)">-</button>
                    {{this.quantity}}
                       <button class="btn btn-light" onclick="changeQuantity(1)">+</button>
                       </td>
                    <td>
                      {{this.total}}
                    </td>
                    
                </tr>
           {{/each}}
          
        
        </tbody>
      </table>
    </div>
    <div class="voucher mt-4  ">
      <h3>Voucher</h3>
      <div class="form-group row  " >
        <div class="col-md-9 col-sm-12 mb-3"> <input
          class="form-control  "
          placeholder="Nhập voucher để áp dụng"
        /></div>
       <div class="col-md-3 col-sm-12">        
        <button class="btn-default btn-outline w-100">Áp dụng</button>
        </div>
</div>

    </div>
    <div class="deliver-info mt-4">
      <h3>Thông tin giao hàng</h3>
      <div class="form-group row">
        <label for="nameOrder" class="col-md-3 col-sm-12 col-form-label">Tên</label>
        <div class="col-md-9 col-sm-12">
          <input type="text" class="form-control" id="nameOrder" />
        </div>
      </div>
      <div class="form-group row">
        <label for="phoneOrder" class="col-md-3 col-sm-12 col-form-label">Số điện thoại</label>
        <div class="col-md-9 col-sm-12">
          <input type="text" class="form-control" id="phoneOrder" />
        </div>
      </div>
      <div class="form-group row">
        <label for="addressOrder" class="col-md-3  col-sm-12 col-form-label">Địa chỉ</label>
        <div class="col-md-9 col-sm-12">
          <input type="text" class="form-control" id="addressOrder" />
        </div>
      </div>
      <div class="form-group row">
        <label for="paymentMethodOrder" class="col-md-3 col-sm-12 col-form-label">Phương thức
          thanh toán</label>
        <div class="col-md-9 col-sm-12">
          <select class="form-control" id="paymentMethodOrder">
            <option>Tiền mặt</option>
            <option>Tài khoản</option>

          </select>
        </div>
      </div>
     
      </div>
      <div class="checkout mt-4">
        <div class="row">
            <span class="font-weight-bold col-sm-4 " style="font-size: 24px" id="TotalPayment">Tổng tiền: 121.000</span>
            <script>
              var total = 0;
            {{#each mappedCart}}
              total +=
              {{{this.total}}}
            {{/each}}
            
            var moneyDots = total.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");

            document.querySelector('#TotalPayment').innerHTML = 'Tổng tiền: ' +
            moneyDots + 'đ';
            document.getElementById("totalOrder").innerHTML=total;

            </script>
            <div class="control-btn col-sm-8  d-flex justify-content-end">           
                 <button class="btn-default btn-outline mr-3">Hủy</button>
                <button class="btn-default" id="btn-order">Đặt hàng</button>
            </div>

        </div>
      </div>
    </div>

  </div> 
   <span id="totalOrder" style="display:none">{{userId}}</span>

  <span id="userIdOrder" style="display:none">{{userId}}</span>
</section>