<section id="profile" class="m-5">
  <div class="container border p-5">
    <div class="avatar">
      <img src="{{user.image}}" alt="{{user.name}}" />
    </div>
    <div class="user-info mt-5">
      <h3>Thông tin tài khoản</h3>
      <div class="row">
        <div class="form-group col-md-6 col-sm-12">
          <label for="name">Tên</label>
          <input
            readonly
            type="text"
            class="form-control"
            placeholder={{user.name}}
          />
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label for="name">Email</label>
          <input
            readonly
            type="text"
            class="form-control"
            placeholder={{user.email}}
          />
        </div>
      </div>
    </div>
    <div class="deliver-info mt-5">
      <h3>Địa chỉ giao hàng</h3>
      <div class="row">
        <div class="form-group col-md-6 col-sm-12">
          <label for="name">Số điện thoại</label>
          <input
            readonly
            type="text"
            class="form-control"
            placeholder={{user.phone}}
          />
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label for="name">Địa chỉ</label>
          <input
            readonly
            type="text"
            class="form-control"
            placeholder={{user.address}}
          />
        </div>
      </div>
    </div>
    <div class="payment-info mt-5">
      <div class="row">
        <div class="form-group col-md-6 col-sm-12">
          <label for="name">Số dư</label>
          <input
            readonly
            type="text"
            class="form-control"
            id="balance"
            placeholder={{user.balance}}
          />
        </div></div>

    </div>
    {{! <button class="btn-default">Lưu</button> }}
  </div>
</section>